<!-- wp:template-part {"slug":"header","theme":"gym-enthusiast","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"gym-enthusiast/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"gym-enthusiast/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"gym-enthusiast","tagName":"footer"} /-->