<!-- wp:template-part {"slug":"header","theme":"gym-enthusiast","tagName":"header"} /-->

<!-- wp:pattern {"slug":"gym-enthusiast/main-banner"} /-->

<!-- wp:group {"tagName":"main","className":"service-sec","style":{"spacing":{"margin":{"top":"1em","bottom":"3em"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group service-sec" style="margin-top:1em;margin-bottom:3em"><!-- wp:pattern {"slug":"gym-enthusiast/trainer-section"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"gym-enthusiast","tagName":"footer"} /-->